certifi==2025.1.31
cffi==1.17.1
cryptography==44.0.2
DateTime==5.5
jwcrypto==1.5.6
pycparser==2.22
pycryptodome==3.21.0
PyJWT==2.10.1
pytz==2025.1
setuptools==75.8.2
six==1.17.0
typing_extensions==4.12.2
urllib3==2.3.0
zope.interface==7.2
