# coding: utf-8

"""
    CyberSource Merged Spec

    All CyberSource API specs merged together. These are available at https://developer.cybersource.com/api/reference/api-reference.html

    OpenAPI spec version: 0.0.1
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import sys
import os
import re

# python 2 and python 3 compatibility library
from six import iteritems

from ..configuration import Configuration
from ..api_client import ApiClient
import CyberSource.logging.log_factory as LogFactory
from CyberSource.utilities.MultipartHelpers import MultipartHelpers
from authenticationsdk.util.MLEUtility import MLEUtility
from authenticationsdk.util.GlobalLabelParameters import GlobalLabelParameters
from authenticationsdk.util.Utility import process_body

from ..utilities.tracking.sdk_tracker import SdkTracker
class AgentRegistrationApi(object):
    """
    NOTE: This class is auto generated by the swagger code generator program.
    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """
	
    def __init__(self, merchant_config, api_client=None):
        if api_client:
            self.api_client = api_client
        else:
            self.api_client = ApiClient()
        self.api_client.set_configuration(merchant_config)
        self.logger = LogFactory.setup_logger(self.__class__.__name__, self.api_client.mconfig.log_config)



    def activate_agent_key(self, agent_id, key_id, **kwargs):
        """
        Activate a key
        **Activate a Key**<br>Activates a deactivated public key, making it available for signature verification.<br><br> Returns **404** if the agent or key is not found, **403** if the agent is deactivated. 
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.activate_agent_key(agent_id, key_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str agent_id: Unique agent identifier (required)
        :param str key_id: Unique key identifier (required)
        :return: AddAgentKeyResponse201
                 If the method is called asynchronously,
                 returns the request thread.
        """

        self.logger.info("CALL TO METHOD `activate_agent_key` STARTED")

        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.activate_agent_key_with_http_info(agent_id, key_id, **kwargs)
        else:
            (data) = self.activate_agent_key_with_http_info(agent_id, key_id, **kwargs)
            return data

    def activate_agent_key_with_http_info(self, agent_id, key_id, **kwargs):
        """
        Activate a key
        **Activate a Key**<br>Activates a deactivated public key, making it available for signature verification.<br><br> Returns **404** if the agent or key is not found, **403** if the agent is deactivated. 
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.activate_agent_key_with_http_info(agent_id, key_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str agent_id: Unique agent identifier (required)
        :param str key_id: Unique key identifier (required)
        :return: AddAgentKeyResponse201
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['agent_id', 'key_id']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method activate_agent_key" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'agent_id' is set
        if ('agent_id' not in params) or (params['agent_id'] is None):
            self.logger.error("InvalidArgumentException : Missing the required parameter `agent_id` when calling `activate_agent_key`")
            raise ValueError("Missing the required parameter `agent_id` when calling `activate_agent_key`")
        # verify the required parameter 'key_id' is set
        if ('key_id' not in params) or (params['key_id'] is None):
            self.logger.error("InvalidArgumentException : Missing the required parameter `key_id` when calling `activate_agent_key`")
            raise ValueError("Missing the required parameter `key_id` when calling `activate_agent_key`")


        collection_formats = {}

        path_params = {}
        if 'agent_id' in params:
            path_params['agentId'] = params['agent_id']
            agentId=agent_id
        if 'key_id' in params:
            path_params['keyId'] = params['key_id']
            keyId=key_id

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(['application/hal+json;charset=utf-8'])

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(['application/json;charset=utf-8'])

        body_params = None
        if 'POST' in ('POST'):
            body_params = '{}'
        
        file_post_body_and_delimiter = MultipartHelpers.build_post_body_for_files(local_var_files)
        if file_post_body_and_delimiter is not None:
            body_params = file_post_body_and_delimiter[0]
            header_params['Content-Type'] = f"multipart/form-data; boundary={file_post_body_and_delimiter[1]}" 

        inbound_mle_status = "mandatory"
        if MLEUtility.check_is_mle_for_api(self.api_client.mconfig, inbound_mle_status, "activate_agent_key,activate_agent_key_with_http_info"):
                body_params = MLEUtility.encrypt_request_payload(self.api_client.mconfig, body_params)
        
        isResponseMLEforApi = MLEUtility.check_is_response_mle_for_api(self.api_client.mconfig, "activate_agent_key,activate_agent_key_with_http_info")

        # Authentication setting
        auth_settings = []

        return self.api_client.call_api(f'/icc/v1/agents/{agentId}/keys/{keyId}/activate', 'POST',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='AddAgentKeyResponse201',
                                        auth_settings=auth_settings,
                                        callback=params.get('callback'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats,
                                        isResponseMLEforApi=isResponseMLEforApi)

    def add_agent_key(self, agent_id, key_request, **kwargs):
        """
        Add a key to an agent
        **Add a Key to an Agent**<br>Uploads a new public key for the specified agent. The key is created in ***deactivated*** state and must be explicitly activated via `POST /agents/{agentId}/keys/{keyId}/activate` before it can be used.<br><br> Returns **404** if the agent is not found, **403** if the agent is deactivated. 
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.add_agent_key(agent_id, key_request, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str agent_id: Unique agent identifier (required)
        :param KeyRequest key_request: Key creation request (required)
        :return: AddAgentKeyResponse201
                 If the method is called asynchronously,
                 returns the request thread.
        """

        self.logger.info("CALL TO METHOD `add_agent_key` STARTED")

        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.add_agent_key_with_http_info(agent_id, key_request, **kwargs)
        else:
            (data) = self.add_agent_key_with_http_info(agent_id, key_request, **kwargs)
            return data

    def add_agent_key_with_http_info(self, agent_id, key_request, **kwargs):
        """
        Add a key to an agent
        **Add a Key to an Agent**<br>Uploads a new public key for the specified agent. The key is created in ***deactivated*** state and must be explicitly activated via `POST /agents/{agentId}/keys/{keyId}/activate` before it can be used.<br><br> Returns **404** if the agent is not found, **403** if the agent is deactivated. 
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.add_agent_key_with_http_info(agent_id, key_request, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str agent_id: Unique agent identifier (required)
        :param KeyRequest key_request: Key creation request (required)
        :return: AddAgentKeyResponse201
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['agent_id', 'key_request']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_agent_key" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'agent_id' is set
        if ('agent_id' not in params) or (params['agent_id'] is None):
            self.logger.error("InvalidArgumentException : Missing the required parameter `agent_id` when calling `add_agent_key`")
            raise ValueError("Missing the required parameter `agent_id` when calling `add_agent_key`")
        # verify the required parameter 'key_request' is set
        if ('key_request' not in params) or (params['key_request'] is None):
            self.logger.error("InvalidArgumentException : Missing the required parameter `key_request` when calling `add_agent_key`")
            raise ValueError("Missing the required parameter `key_request` when calling `add_agent_key`")


        collection_formats = {}

        path_params = {}
        if 'agent_id' in params:
            path_params['agentId'] = params['agent_id']
            agentId=agent_id

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(['application/hal+json;charset=utf-8'])

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(['application/json;charset=utf-8'])

        body_params = None
        if 'key_request' in params:
            body_params = params['key_request']
        
            sdkTracker = SdkTracker()
            body_params = sdkTracker.insert_developer_id_tracker(body_params, 'key_request', self.api_client.mconfig.run_environment, self.api_client.mconfig.defaultDeveloperId)
            body_params = process_body(body_params)

        inbound_mle_status = "mandatory"
        if MLEUtility.check_is_mle_for_api(self.api_client.mconfig, inbound_mle_status, "add_agent_key,add_agent_key_with_http_info"):
                body_params = MLEUtility.encrypt_request_payload(self.api_client.mconfig, body_params)
        
        isResponseMLEforApi = MLEUtility.check_is_response_mle_for_api(self.api_client.mconfig, "add_agent_key,add_agent_key_with_http_info")

        # Authentication setting
        auth_settings = []

        return self.api_client.call_api(f'/icc/v1/agents/{agentId}/keys', 'POST',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='AddAgentKeyResponse201',
                                        auth_settings=auth_settings,
                                        callback=params.get('callback'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats,
                                        isResponseMLEforApi=isResponseMLEforApi)

    def get_agent(self, agent_id, **kwargs):
        """
        Get an agent
        **Get an Agent**<br>Retrieves a single agent by its unique identifier, including all associated public keys.<br><br> Returns **404** if the agent is not found. 
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_agent(agent_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str agent_id: Unique agent identifier (required)
        :return: AgentRegistrationResponse201
                 If the method is called asynchronously,
                 returns the request thread.
        """

        self.logger.info("CALL TO METHOD `get_agent` STARTED")

        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.get_agent_with_http_info(agent_id, **kwargs)
        else:
            (data) = self.get_agent_with_http_info(agent_id, **kwargs)
            return data

    def get_agent_with_http_info(self, agent_id, **kwargs):
        """
        Get an agent
        **Get an Agent**<br>Retrieves a single agent by its unique identifier, including all associated public keys.<br><br> Returns **404** if the agent is not found. 
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_agent_with_http_info(agent_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str agent_id: Unique agent identifier (required)
        :return: AgentRegistrationResponse201
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['agent_id']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_agent" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'agent_id' is set
        if ('agent_id' not in params) or (params['agent_id'] is None):
            self.logger.error("InvalidArgumentException : Missing the required parameter `agent_id` when calling `get_agent`")
            raise ValueError("Missing the required parameter `agent_id` when calling `get_agent`")


        collection_formats = {}

        path_params = {}
        if 'agent_id' in params:
            path_params['agentId'] = params['agent_id']
            agentId=agent_id

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(['application/hal+json;charset=utf-8'])

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(['application/json;charset=utf-8'])

        body_params = None
        if 'GET' in ('POST'):
            body_params = '{}'
        
        file_post_body_and_delimiter = MultipartHelpers.build_post_body_for_files(local_var_files)
        if file_post_body_and_delimiter is not None:
            body_params = file_post_body_and_delimiter[0]
            header_params['Content-Type'] = f"multipart/form-data; boundary={file_post_body_and_delimiter[1]}" 

        inbound_mle_status = "false"
        if MLEUtility.check_is_mle_for_api(self.api_client.mconfig, inbound_mle_status, "get_agent,get_agent_with_http_info"):
                body_params = MLEUtility.encrypt_request_payload(self.api_client.mconfig, body_params)
        
        isResponseMLEforApi = MLEUtility.check_is_response_mle_for_api(self.api_client.mconfig, "get_agent,get_agent_with_http_info")

        # Authentication setting
        auth_settings = []

        return self.api_client.call_api(f'/icc/v1/agents/{agentId}', 'GET',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='AgentRegistrationResponse201',
                                        auth_settings=auth_settings,
                                        callback=params.get('callback'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats,
                                        isResponseMLEforApi=isResponseMLEforApi)

    def get_agent_key(self, agent_id, key_id, **kwargs):
        """
        Get a key by agent and key ID
        **Get a Key**<br>Retrieves a specific public key by agent ID and key ID.<br><br> Returns **404** if the agent or key is not found. 
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_agent_key(agent_id, key_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str agent_id: Unique agent identifier (required)
        :param str key_id: Unique key identifier (required)
        :return: AddAgentKeyResponse201
                 If the method is called asynchronously,
                 returns the request thread.
        """

        self.logger.info("CALL TO METHOD `get_agent_key` STARTED")

        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.get_agent_key_with_http_info(agent_id, key_id, **kwargs)
        else:
            (data) = self.get_agent_key_with_http_info(agent_id, key_id, **kwargs)
            return data

    def get_agent_key_with_http_info(self, agent_id, key_id, **kwargs):
        """
        Get a key by agent and key ID
        **Get a Key**<br>Retrieves a specific public key by agent ID and key ID.<br><br> Returns **404** if the agent or key is not found. 
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_agent_key_with_http_info(agent_id, key_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str agent_id: Unique agent identifier (required)
        :param str key_id: Unique key identifier (required)
        :return: AddAgentKeyResponse201
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['agent_id', 'key_id']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_agent_key" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'agent_id' is set
        if ('agent_id' not in params) or (params['agent_id'] is None):
            self.logger.error("InvalidArgumentException : Missing the required parameter `agent_id` when calling `get_agent_key`")
            raise ValueError("Missing the required parameter `agent_id` when calling `get_agent_key`")
        # verify the required parameter 'key_id' is set
        if ('key_id' not in params) or (params['key_id'] is None):
            self.logger.error("InvalidArgumentException : Missing the required parameter `key_id` when calling `get_agent_key`")
            raise ValueError("Missing the required parameter `key_id` when calling `get_agent_key`")


        collection_formats = {}

        path_params = {}
        if 'agent_id' in params:
            path_params['agentId'] = params['agent_id']
            agentId=agent_id
        if 'key_id' in params:
            path_params['keyId'] = params['key_id']
            keyId=key_id

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(['application/hal+json;charset=utf-8'])

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(['application/json;charset=utf-8'])

        body_params = None
        if 'GET' in ('POST'):
            body_params = '{}'
        
        file_post_body_and_delimiter = MultipartHelpers.build_post_body_for_files(local_var_files)
        if file_post_body_and_delimiter is not None:
            body_params = file_post_body_and_delimiter[0]
            header_params['Content-Type'] = f"multipart/form-data; boundary={file_post_body_and_delimiter[1]}" 

        inbound_mle_status = "false"
        if MLEUtility.check_is_mle_for_api(self.api_client.mconfig, inbound_mle_status, "get_agent_key,get_agent_key_with_http_info"):
                body_params = MLEUtility.encrypt_request_payload(self.api_client.mconfig, body_params)
        
        isResponseMLEforApi = MLEUtility.check_is_response_mle_for_api(self.api_client.mconfig, "get_agent_key,get_agent_key_with_http_info")

        # Authentication setting
        auth_settings = []

        return self.api_client.call_api(f'/icc/v1/agents/{agentId}/keys/{keyId}', 'GET',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='AddAgentKeyResponse201',
                                        auth_settings=auth_settings,
                                        callback=params.get('callback'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats,
                                        isResponseMLEforApi=isResponseMLEforApi)

    def list_agent_keys(self, agent_id, **kwargs):
        """
        List keys for an agent
        **List Keys for an Agent**<br>Returns a paginated list of all public keys associated with the specified agent.<br><br> Returns **404** if the agent is not found. 
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.list_agent_keys(agent_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str agent_id: Unique agent identifier (required)
        :param int page: Page number (1-indexed)
        :param int page_size: Items per page (max 100)
        :return: ListAgentKeysResponse200
                 If the method is called asynchronously,
                 returns the request thread.
        """

        self.logger.info("CALL TO METHOD `list_agent_keys` STARTED")

        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.list_agent_keys_with_http_info(agent_id, **kwargs)
        else:
            (data) = self.list_agent_keys_with_http_info(agent_id, **kwargs)
            return data

    def list_agent_keys_with_http_info(self, agent_id, **kwargs):
        """
        List keys for an agent
        **List Keys for an Agent**<br>Returns a paginated list of all public keys associated with the specified agent.<br><br> Returns **404** if the agent is not found. 
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.list_agent_keys_with_http_info(agent_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str agent_id: Unique agent identifier (required)
        :param int page: Page number (1-indexed)
        :param int page_size: Items per page (max 100)
        :return: ListAgentKeysResponse200
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['agent_id', 'page', 'page_size']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method list_agent_keys" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'agent_id' is set
        if ('agent_id' not in params) or (params['agent_id'] is None):
            self.logger.error("InvalidArgumentException : Missing the required parameter `agent_id` when calling `list_agent_keys`")
            raise ValueError("Missing the required parameter `agent_id` when calling `list_agent_keys`")


        collection_formats = {}

        path_params = {}
        if 'agent_id' in params:
            path_params['agentId'] = params['agent_id']
            agentId=agent_id

        query_params = []
        if 'page' in params:
            query_params.append(('page', params['page']))
        if 'page_size' in params:
            query_params.append(('pageSize', params['page_size']))

        header_params = {}

        form_params = []
        local_var_files = {}

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(['application/hal+json;charset=utf-8'])

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(['application/json;charset=utf-8'])

        body_params = None
        if 'GET' in ('POST'):
            body_params = '{}'
        
        file_post_body_and_delimiter = MultipartHelpers.build_post_body_for_files(local_var_files)
        if file_post_body_and_delimiter is not None:
            body_params = file_post_body_and_delimiter[0]
            header_params['Content-Type'] = f"multipart/form-data; boundary={file_post_body_and_delimiter[1]}" 

        inbound_mle_status = "false"
        if MLEUtility.check_is_mle_for_api(self.api_client.mconfig, inbound_mle_status, "list_agent_keys,list_agent_keys_with_http_info"):
                body_params = MLEUtility.encrypt_request_payload(self.api_client.mconfig, body_params)
        
        isResponseMLEforApi = MLEUtility.check_is_response_mle_for_api(self.api_client.mconfig, "list_agent_keys,list_agent_keys_with_http_info")

        # Authentication setting
        auth_settings = []

        return self.api_client.call_api(f'/icc/v1/agents/{agentId}/keys', 'GET',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='ListAgentKeysResponse200',
                                        auth_settings=auth_settings,
                                        callback=params.get('callback'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats,
                                        isResponseMLEforApi=isResponseMLEforApi)

    def register_agent(self, agent_request, **kwargs):
        """
        Register an agent
        **Register an Agent**<br>Registers a new AI agent in the Visa Agent Registry Service (VARS). Once registered, the agent can upload public keys that merchants and Visa services use to verify request signatures.<br><br> **Key Behavior**<br>If an optional `keys` array is included in the request, those keys are created alongside the agent registration in a single operation.<br> Returns **409 Conflict** if an agent with the same domain already exists. 
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.register_agent(agent_request, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param AgentRequest agent_request: Agent registration request (required)
        :return: AgentRegistrationResponse201
                 If the method is called asynchronously,
                 returns the request thread.
        """

        self.logger.info("CALL TO METHOD `register_agent` STARTED")

        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.register_agent_with_http_info(agent_request, **kwargs)
        else:
            (data) = self.register_agent_with_http_info(agent_request, **kwargs)
            return data

    def register_agent_with_http_info(self, agent_request, **kwargs):
        """
        Register an agent
        **Register an Agent**<br>Registers a new AI agent in the Visa Agent Registry Service (VARS). Once registered, the agent can upload public keys that merchants and Visa services use to verify request signatures.<br><br> **Key Behavior**<br>If an optional `keys` array is included in the request, those keys are created alongside the agent registration in a single operation.<br> Returns **409 Conflict** if an agent with the same domain already exists. 
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.register_agent_with_http_info(agent_request, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param AgentRequest agent_request: Agent registration request (required)
        :return: AgentRegistrationResponse201
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['agent_request']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method register_agent" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'agent_request' is set
        if ('agent_request' not in params) or (params['agent_request'] is None):
            self.logger.error("InvalidArgumentException : Missing the required parameter `agent_request` when calling `register_agent`")
            raise ValueError("Missing the required parameter `agent_request` when calling `register_agent`")


        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(['application/hal+json;charset=utf-8'])

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(['application/json;charset=utf-8'])

        body_params = None
        if 'agent_request' in params:
            body_params = params['agent_request']
        
            sdkTracker = SdkTracker()
            body_params = sdkTracker.insert_developer_id_tracker(body_params, 'agent_request', self.api_client.mconfig.run_environment, self.api_client.mconfig.defaultDeveloperId)
            body_params = process_body(body_params)

        inbound_mle_status = "mandatory"
        if MLEUtility.check_is_mle_for_api(self.api_client.mconfig, inbound_mle_status, "register_agent,register_agent_with_http_info"):
                body_params = MLEUtility.encrypt_request_payload(self.api_client.mconfig, body_params)
        
        isResponseMLEforApi = MLEUtility.check_is_response_mle_for_api(self.api_client.mconfig, "register_agent,register_agent_with_http_info")

        # Authentication setting
        auth_settings = []

        return self.api_client.call_api(f'/icc/v1/agents', 'POST',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='AgentRegistrationResponse201',
                                        auth_settings=auth_settings,
                                        callback=params.get('callback'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats,
                                        isResponseMLEforApi=isResponseMLEforApi)

    def update_agent(self, agent_id, agent_update, **kwargs):
        """
        Update an agent
        **Update an Agent**<br>Updates agent information. Only the following fields can be modified: `name`, `domain`, `description`, `contactEmail`, and `agentMetadata`.<br><br> Submitting any other field (e.g., `tokenRequestorId`, `keys`) returns **422 Validation Error**.<br> Returns **404** if the agent is not found, **403** if the agent is deactivated, **409** if the new domain is already registered. 
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.update_agent(agent_id, agent_update, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str agent_id: Unique agent identifier (required)
        :param AgentUpdate agent_update: Agent update request (required)
        :return: AgentRegistrationResponse201
                 If the method is called asynchronously,
                 returns the request thread.
        """

        self.logger.info("CALL TO METHOD `update_agent` STARTED")

        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.update_agent_with_http_info(agent_id, agent_update, **kwargs)
        else:
            (data) = self.update_agent_with_http_info(agent_id, agent_update, **kwargs)
            return data

    def update_agent_with_http_info(self, agent_id, agent_update, **kwargs):
        """
        Update an agent
        **Update an Agent**<br>Updates agent information. Only the following fields can be modified: `name`, `domain`, `description`, `contactEmail`, and `agentMetadata`.<br><br> Submitting any other field (e.g., `tokenRequestorId`, `keys`) returns **422 Validation Error**.<br> Returns **404** if the agent is not found, **403** if the agent is deactivated, **409** if the new domain is already registered. 
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.update_agent_with_http_info(agent_id, agent_update, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str agent_id: Unique agent identifier (required)
        :param AgentUpdate agent_update: Agent update request (required)
        :return: AgentRegistrationResponse201
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['agent_id', 'agent_update']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_agent" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'agent_id' is set
        if ('agent_id' not in params) or (params['agent_id'] is None):
            self.logger.error("InvalidArgumentException : Missing the required parameter `agent_id` when calling `update_agent`")
            raise ValueError("Missing the required parameter `agent_id` when calling `update_agent`")
        # verify the required parameter 'agent_update' is set
        if ('agent_update' not in params) or (params['agent_update'] is None):
            self.logger.error("InvalidArgumentException : Missing the required parameter `agent_update` when calling `update_agent`")
            raise ValueError("Missing the required parameter `agent_update` when calling `update_agent`")


        collection_formats = {}

        path_params = {}
        if 'agent_id' in params:
            path_params['agentId'] = params['agent_id']
            agentId=agent_id

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(['application/hal+json;charset=utf-8'])

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(['application/json;charset=utf-8'])

        body_params = None
        if 'agent_update' in params:
            body_params = params['agent_update']
        
            sdkTracker = SdkTracker()
            body_params = sdkTracker.insert_developer_id_tracker(body_params, 'agent_update', self.api_client.mconfig.run_environment, self.api_client.mconfig.defaultDeveloperId)
            body_params = process_body(body_params)

        inbound_mle_status = "mandatory"
        if MLEUtility.check_is_mle_for_api(self.api_client.mconfig, inbound_mle_status, "update_agent,update_agent_with_http_info"):
                body_params = MLEUtility.encrypt_request_payload(self.api_client.mconfig, body_params)
        
        isResponseMLEforApi = MLEUtility.check_is_response_mle_for_api(self.api_client.mconfig, "update_agent,update_agent_with_http_info")

        # Authentication setting
        auth_settings = []

        return self.api_client.call_api(f'/icc/v1/agents/{agentId}', 'PUT',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='AgentRegistrationResponse201',
                                        auth_settings=auth_settings,
                                        callback=params.get('callback'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats,
                                        isResponseMLEforApi=isResponseMLEforApi)

    def update_agent_key(self, agent_id, key_id, key_update, **kwargs):
        """
        Update a key
        **Update a Key**<br>Updates key information. The following fields can be modified: `keyName`, `publicKey`, `algorithm`, and `expirationDate`.<br><br> **Note:** `publicKey` and `algorithm` must always be updated together.<br> Returns **404** if the agent or key is not found, **403** if the agent or key is deactivated, **409** if the new `keyName` already exists. 
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.update_agent_key(agent_id, key_id, key_update, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str agent_id: Unique agent identifier (required)
        :param str key_id: Unique key identifier (required)
        :param KeyUpdate key_update: Key update request (required)
        :return: AddAgentKeyResponse201
                 If the method is called asynchronously,
                 returns the request thread.
        """

        self.logger.info("CALL TO METHOD `update_agent_key` STARTED")

        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.update_agent_key_with_http_info(agent_id, key_id, key_update, **kwargs)
        else:
            (data) = self.update_agent_key_with_http_info(agent_id, key_id, key_update, **kwargs)
            return data

    def update_agent_key_with_http_info(self, agent_id, key_id, key_update, **kwargs):
        """
        Update a key
        **Update a Key**<br>Updates key information. The following fields can be modified: `keyName`, `publicKey`, `algorithm`, and `expirationDate`.<br><br> **Note:** `publicKey` and `algorithm` must always be updated together.<br> Returns **404** if the agent or key is not found, **403** if the agent or key is deactivated, **409** if the new `keyName` already exists. 
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.update_agent_key_with_http_info(agent_id, key_id, key_update, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str agent_id: Unique agent identifier (required)
        :param str key_id: Unique key identifier (required)
        :param KeyUpdate key_update: Key update request (required)
        :return: AddAgentKeyResponse201
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['agent_id', 'key_id', 'key_update']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_agent_key" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'agent_id' is set
        if ('agent_id' not in params) or (params['agent_id'] is None):
            self.logger.error("InvalidArgumentException : Missing the required parameter `agent_id` when calling `update_agent_key`")
            raise ValueError("Missing the required parameter `agent_id` when calling `update_agent_key`")
        # verify the required parameter 'key_id' is set
        if ('key_id' not in params) or (params['key_id'] is None):
            self.logger.error("InvalidArgumentException : Missing the required parameter `key_id` when calling `update_agent_key`")
            raise ValueError("Missing the required parameter `key_id` when calling `update_agent_key`")
        # verify the required parameter 'key_update' is set
        if ('key_update' not in params) or (params['key_update'] is None):
            self.logger.error("InvalidArgumentException : Missing the required parameter `key_update` when calling `update_agent_key`")
            raise ValueError("Missing the required parameter `key_update` when calling `update_agent_key`")


        collection_formats = {}

        path_params = {}
        if 'agent_id' in params:
            path_params['agentId'] = params['agent_id']
            agentId=agent_id
        if 'key_id' in params:
            path_params['keyId'] = params['key_id']
            keyId=key_id

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(['application/hal+json;charset=utf-8'])

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(['application/json;charset=utf-8'])

        body_params = None
        if 'key_update' in params:
            body_params = params['key_update']
        
            sdkTracker = SdkTracker()
            body_params = sdkTracker.insert_developer_id_tracker(body_params, 'key_update', self.api_client.mconfig.run_environment, self.api_client.mconfig.defaultDeveloperId)
            body_params = process_body(body_params)

        inbound_mle_status = "mandatory"
        if MLEUtility.check_is_mle_for_api(self.api_client.mconfig, inbound_mle_status, "update_agent_key,update_agent_key_with_http_info"):
                body_params = MLEUtility.encrypt_request_payload(self.api_client.mconfig, body_params)
        
        isResponseMLEforApi = MLEUtility.check_is_response_mle_for_api(self.api_client.mconfig, "update_agent_key,update_agent_key_with_http_info")

        # Authentication setting
        auth_settings = []

        return self.api_client.call_api(f'/icc/v1/agents/{agentId}/keys/{keyId}', 'PUT',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='AddAgentKeyResponse201',
                                        auth_settings=auth_settings,
                                        callback=params.get('callback'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats,
                                        isResponseMLEforApi=isResponseMLEforApi)
