# coding: utf-8

"""
    CyberSource Merged Spec

    All CyberSource API specs merged together. These are available at https://developer.cybersource.com/api/reference/api-reference.html

    OpenAPI spec version: 0.0.1
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import sys
import os
import re

# python 2 and python 3 compatibility library
from six import iteritems

from ..configuration import Configuration
from ..api_client import ApiClient
import CyberSource.logging.log_factory as LogFactory
from CyberSource.utilities.MultipartHelpers import MultipartHelpers
from authenticationsdk.util.MLEUtility import MLEUtility
from authenticationsdk.util.GlobalLabelParameters import GlobalLabelParameters
from authenticationsdk.util.Utility import process_body

from ..utilities.tracking.sdk_tracker import SdkTracker
class MerchantRegistrationApi(object):
    """
    NOTE: This class is auto generated by the swagger code generator program.
    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """
	
    def __init__(self, merchant_config, api_client=None):
        if api_client:
            self.api_client = api_client
        else:
            self.api_client = ApiClient()
        self.api_client.set_configuration(merchant_config)
        self.logger = LogFactory.setup_logger(self.__class__.__name__, self.api_client.mconfig.log_config)



    def activate_merchant_key(self, merchant_id, key_id, **kwargs):
        """
        Activate a merchant key
        **Activate a Merchant Key**<br>Activates a deactivated encryption key for the specified merchant.<br><br> **Note:** Expired keys must be renewed via `PUT /merchants/{merchantId}/keys/{keyId}` before they can be activated.<br> Returns **403** if the merchant is deactivated or the key is expired, **404** if the merchant or key is not found, **409** if the key is already active. 
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.activate_merchant_key(merchant_id, key_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str merchant_id: Unique merchant identifier (UUID) (required)
        :param str key_id: Unique key identifier (UUID) (required)
        :return: ActivateMerchantKeyResponse200
                 If the method is called asynchronously,
                 returns the request thread.
        """

        self.logger.info("CALL TO METHOD `activate_merchant_key` STARTED")

        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.activate_merchant_key_with_http_info(merchant_id, key_id, **kwargs)
        else:
            (data) = self.activate_merchant_key_with_http_info(merchant_id, key_id, **kwargs)
            return data

    def activate_merchant_key_with_http_info(self, merchant_id, key_id, **kwargs):
        """
        Activate a merchant key
        **Activate a Merchant Key**<br>Activates a deactivated encryption key for the specified merchant.<br><br> **Note:** Expired keys must be renewed via `PUT /merchants/{merchantId}/keys/{keyId}` before they can be activated.<br> Returns **403** if the merchant is deactivated or the key is expired, **404** if the merchant or key is not found, **409** if the key is already active. 
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.activate_merchant_key_with_http_info(merchant_id, key_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str merchant_id: Unique merchant identifier (UUID) (required)
        :param str key_id: Unique key identifier (UUID) (required)
        :return: ActivateMerchantKeyResponse200
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['merchant_id', 'key_id']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method activate_merchant_key" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'merchant_id' is set
        if ('merchant_id' not in params) or (params['merchant_id'] is None):
            self.logger.error("InvalidArgumentException : Missing the required parameter `merchant_id` when calling `activate_merchant_key`")
            raise ValueError("Missing the required parameter `merchant_id` when calling `activate_merchant_key`")
        # verify the required parameter 'key_id' is set
        if ('key_id' not in params) or (params['key_id'] is None):
            self.logger.error("InvalidArgumentException : Missing the required parameter `key_id` when calling `activate_merchant_key`")
            raise ValueError("Missing the required parameter `key_id` when calling `activate_merchant_key`")


        collection_formats = {}

        path_params = {}
        if 'merchant_id' in params:
            path_params['merchantId'] = params['merchant_id']
            merchantId=merchant_id
        if 'key_id' in params:
            path_params['keyId'] = params['key_id']
            keyId=key_id

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(['application/hal+json;charset=utf-8'])

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(['application/json;charset=utf-8'])

        body_params = None
        if 'POST' in ('POST'):
            body_params = '{}'
        
        file_post_body_and_delimiter = MultipartHelpers.build_post_body_for_files(local_var_files)
        if file_post_body_and_delimiter is not None:
            body_params = file_post_body_and_delimiter[0]
            header_params['Content-Type'] = f"multipart/form-data; boundary={file_post_body_and_delimiter[1]}" 

        inbound_mle_status = "mandatory"
        if MLEUtility.check_is_mle_for_api(self.api_client.mconfig, inbound_mle_status, "activate_merchant_key,activate_merchant_key_with_http_info"):
                body_params = MLEUtility.encrypt_request_payload(self.api_client.mconfig, body_params)
        
        isResponseMLEforApi = MLEUtility.check_is_response_mle_for_api(self.api_client.mconfig, "activate_merchant_key,activate_merchant_key_with_http_info")

        # Authentication setting
        auth_settings = []

        return self.api_client.call_api(f'/icc/v1/merchants/{merchantId}/keys/{keyId}/activate', 'POST',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='ActivateMerchantKeyResponse200',
                                        auth_settings=auth_settings,
                                        callback=params.get('callback'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats,
                                        isResponseMLEforApi=isResponseMLEforApi)

    def add_merchant_key(self, merchant_id, key_request, **kwargs):
        """
        Add a key to a merchant
        **Add a Key to a Merchant**<br>Adds a new encryption key for the specified merchant. The new key is created as ***active*** immediately.<br><br> **Note:** Adding a new key automatically deactivates all previously active keys for this merchant (single-active key invariant).<br> Returns **403** if the merchant is deactivated, **404** if the merchant is not found. 
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.add_merchant_key(merchant_id, key_request, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str merchant_id: Unique merchant identifier (UUID) (required)
        :param KeyRequest1 key_request: Key creation request (required)
        :return: ActivateMerchantKeyResponse200
                 If the method is called asynchronously,
                 returns the request thread.
        """

        self.logger.info("CALL TO METHOD `add_merchant_key` STARTED")

        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.add_merchant_key_with_http_info(merchant_id, key_request, **kwargs)
        else:
            (data) = self.add_merchant_key_with_http_info(merchant_id, key_request, **kwargs)
            return data

    def add_merchant_key_with_http_info(self, merchant_id, key_request, **kwargs):
        """
        Add a key to a merchant
        **Add a Key to a Merchant**<br>Adds a new encryption key for the specified merchant. The new key is created as ***active*** immediately.<br><br> **Note:** Adding a new key automatically deactivates all previously active keys for this merchant (single-active key invariant).<br> Returns **403** if the merchant is deactivated, **404** if the merchant is not found. 
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.add_merchant_key_with_http_info(merchant_id, key_request, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str merchant_id: Unique merchant identifier (UUID) (required)
        :param KeyRequest1 key_request: Key creation request (required)
        :return: ActivateMerchantKeyResponse200
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['merchant_id', 'key_request']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_merchant_key" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'merchant_id' is set
        if ('merchant_id' not in params) or (params['merchant_id'] is None):
            self.logger.error("InvalidArgumentException : Missing the required parameter `merchant_id` when calling `add_merchant_key`")
            raise ValueError("Missing the required parameter `merchant_id` when calling `add_merchant_key`")
        # verify the required parameter 'key_request' is set
        if ('key_request' not in params) or (params['key_request'] is None):
            self.logger.error("InvalidArgumentException : Missing the required parameter `key_request` when calling `add_merchant_key`")
            raise ValueError("Missing the required parameter `key_request` when calling `add_merchant_key`")


        collection_formats = {}

        path_params = {}
        if 'merchant_id' in params:
            path_params['merchantId'] = params['merchant_id']
            merchantId=merchant_id

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(['application/hal+json;charset=utf-8'])

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(['application/json;charset=utf-8'])

        body_params = None
        if 'key_request' in params:
            body_params = params['key_request']
        
            sdkTracker = SdkTracker()
            body_params = sdkTracker.insert_developer_id_tracker(body_params, 'key_request', self.api_client.mconfig.run_environment, self.api_client.mconfig.defaultDeveloperId)
            body_params = process_body(body_params)

        inbound_mle_status = "mandatory"
        if MLEUtility.check_is_mle_for_api(self.api_client.mconfig, inbound_mle_status, "add_merchant_key,add_merchant_key_with_http_info"):
                body_params = MLEUtility.encrypt_request_payload(self.api_client.mconfig, body_params)
        
        isResponseMLEforApi = MLEUtility.check_is_response_mle_for_api(self.api_client.mconfig, "add_merchant_key,add_merchant_key_with_http_info")

        # Authentication setting
        auth_settings = []

        return self.api_client.call_api(f'/icc/v1/merchants/{merchantId}/keys', 'POST',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='ActivateMerchantKeyResponse200',
                                        auth_settings=auth_settings,
                                        callback=params.get('callback'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats,
                                        isResponseMLEforApi=isResponseMLEforApi)

    def get_merchant(self, merchant_id, **kwargs):
        """
        Get a merchant
        **Get a Merchant**<br>Retrieves a single merchant by its unique identifier, including all associated encryption keys.<br><br> Returns **404** if the merchant is not found. 
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_merchant(merchant_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str merchant_id: Unique merchant identifier (UUID) (required)
        :return: MerchantRegistrationResponse201
                 If the method is called asynchronously,
                 returns the request thread.
        """

        self.logger.info("CALL TO METHOD `get_merchant` STARTED")

        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.get_merchant_with_http_info(merchant_id, **kwargs)
        else:
            (data) = self.get_merchant_with_http_info(merchant_id, **kwargs)
            return data

    def get_merchant_with_http_info(self, merchant_id, **kwargs):
        """
        Get a merchant
        **Get a Merchant**<br>Retrieves a single merchant by its unique identifier, including all associated encryption keys.<br><br> Returns **404** if the merchant is not found. 
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_merchant_with_http_info(merchant_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str merchant_id: Unique merchant identifier (UUID) (required)
        :return: MerchantRegistrationResponse201
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['merchant_id']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_merchant" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'merchant_id' is set
        if ('merchant_id' not in params) or (params['merchant_id'] is None):
            self.logger.error("InvalidArgumentException : Missing the required parameter `merchant_id` when calling `get_merchant`")
            raise ValueError("Missing the required parameter `merchant_id` when calling `get_merchant`")


        collection_formats = {}

        path_params = {}
        if 'merchant_id' in params:
            path_params['merchantId'] = params['merchant_id']
            merchantId=merchant_id

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(['application/hal+json;charset=utf-8'])

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(['application/json;charset=utf-8'])

        body_params = None
        if 'GET' in ('POST'):
            body_params = '{}'
        
        file_post_body_and_delimiter = MultipartHelpers.build_post_body_for_files(local_var_files)
        if file_post_body_and_delimiter is not None:
            body_params = file_post_body_and_delimiter[0]
            header_params['Content-Type'] = f"multipart/form-data; boundary={file_post_body_and_delimiter[1]}" 

        inbound_mle_status = "false"
        if MLEUtility.check_is_mle_for_api(self.api_client.mconfig, inbound_mle_status, "get_merchant,get_merchant_with_http_info"):
                body_params = MLEUtility.encrypt_request_payload(self.api_client.mconfig, body_params)
        
        isResponseMLEforApi = MLEUtility.check_is_response_mle_for_api(self.api_client.mconfig, "get_merchant,get_merchant_with_http_info")

        # Authentication setting
        auth_settings = []

        return self.api_client.call_api(f'/icc/v1/merchants/{merchantId}', 'GET',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='MerchantRegistrationResponse201',
                                        auth_settings=auth_settings,
                                        callback=params.get('callback'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats,
                                        isResponseMLEforApi=isResponseMLEforApi)

    def get_merchant_key(self, merchant_id, key_id, **kwargs):
        """
        Get a key by merchant and key ID
        **Get a Merchant Key**<br>Retrieves a specific encryption key by merchant ID and key ID.<br><br> Returns **404** if the merchant or key is not found. 
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_merchant_key(merchant_id, key_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str merchant_id: Unique merchant identifier (UUID) (required)
        :param str key_id: Unique key identifier (UUID) (required)
        :return: ActivateMerchantKeyResponse200
                 If the method is called asynchronously,
                 returns the request thread.
        """

        self.logger.info("CALL TO METHOD `get_merchant_key` STARTED")

        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.get_merchant_key_with_http_info(merchant_id, key_id, **kwargs)
        else:
            (data) = self.get_merchant_key_with_http_info(merchant_id, key_id, **kwargs)
            return data

    def get_merchant_key_with_http_info(self, merchant_id, key_id, **kwargs):
        """
        Get a key by merchant and key ID
        **Get a Merchant Key**<br>Retrieves a specific encryption key by merchant ID and key ID.<br><br> Returns **404** if the merchant or key is not found. 
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_merchant_key_with_http_info(merchant_id, key_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str merchant_id: Unique merchant identifier (UUID) (required)
        :param str key_id: Unique key identifier (UUID) (required)
        :return: ActivateMerchantKeyResponse200
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['merchant_id', 'key_id']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_merchant_key" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'merchant_id' is set
        if ('merchant_id' not in params) or (params['merchant_id'] is None):
            self.logger.error("InvalidArgumentException : Missing the required parameter `merchant_id` when calling `get_merchant_key`")
            raise ValueError("Missing the required parameter `merchant_id` when calling `get_merchant_key`")
        # verify the required parameter 'key_id' is set
        if ('key_id' not in params) or (params['key_id'] is None):
            self.logger.error("InvalidArgumentException : Missing the required parameter `key_id` when calling `get_merchant_key`")
            raise ValueError("Missing the required parameter `key_id` when calling `get_merchant_key`")


        collection_formats = {}

        path_params = {}
        if 'merchant_id' in params:
            path_params['merchantId'] = params['merchant_id']
            merchantId=merchant_id
        if 'key_id' in params:
            path_params['keyId'] = params['key_id']
            keyId=key_id

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(['application/hal+json;charset=utf-8'])

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(['application/json;charset=utf-8'])

        body_params = None
        if 'GET' in ('POST'):
            body_params = '{}'
        
        file_post_body_and_delimiter = MultipartHelpers.build_post_body_for_files(local_var_files)
        if file_post_body_and_delimiter is not None:
            body_params = file_post_body_and_delimiter[0]
            header_params['Content-Type'] = f"multipart/form-data; boundary={file_post_body_and_delimiter[1]}" 

        inbound_mle_status = "false"
        if MLEUtility.check_is_mle_for_api(self.api_client.mconfig, inbound_mle_status, "get_merchant_key,get_merchant_key_with_http_info"):
                body_params = MLEUtility.encrypt_request_payload(self.api_client.mconfig, body_params)
        
        isResponseMLEforApi = MLEUtility.check_is_response_mle_for_api(self.api_client.mconfig, "get_merchant_key,get_merchant_key_with_http_info")

        # Authentication setting
        auth_settings = []

        return self.api_client.call_api(f'/icc/v1/merchants/{merchantId}/keys/{keyId}', 'GET',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='ActivateMerchantKeyResponse200',
                                        auth_settings=auth_settings,
                                        callback=params.get('callback'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats,
                                        isResponseMLEforApi=isResponseMLEforApi)

    def list_merchant_keys(self, merchant_id, **kwargs):
        """
        List keys for a merchant
        **List Keys for a Merchant**<br>Returns all encryption keys associated with the specified merchant, with optional filtering by key status.<br><br> Returns **404** if the merchant is not found. 
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.list_merchant_keys(merchant_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str merchant_id: Unique merchant identifier (UUID) (required)
        :param str status: Filter by key status: 'active', 'deactivated', or 'expired'. Omit to return all keys.
        :return: ListMerchantKeysResponse200
                 If the method is called asynchronously,
                 returns the request thread.
        """

        self.logger.info("CALL TO METHOD `list_merchant_keys` STARTED")

        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.list_merchant_keys_with_http_info(merchant_id, **kwargs)
        else:
            (data) = self.list_merchant_keys_with_http_info(merchant_id, **kwargs)
            return data

    def list_merchant_keys_with_http_info(self, merchant_id, **kwargs):
        """
        List keys for a merchant
        **List Keys for a Merchant**<br>Returns all encryption keys associated with the specified merchant, with optional filtering by key status.<br><br> Returns **404** if the merchant is not found. 
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.list_merchant_keys_with_http_info(merchant_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str merchant_id: Unique merchant identifier (UUID) (required)
        :param str status: Filter by key status: 'active', 'deactivated', or 'expired'. Omit to return all keys.
        :return: ListMerchantKeysResponse200
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['merchant_id', 'status']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method list_merchant_keys" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'merchant_id' is set
        if ('merchant_id' not in params) or (params['merchant_id'] is None):
            self.logger.error("InvalidArgumentException : Missing the required parameter `merchant_id` when calling `list_merchant_keys`")
            raise ValueError("Missing the required parameter `merchant_id` when calling `list_merchant_keys`")


        collection_formats = {}

        path_params = {}
        if 'merchant_id' in params:
            path_params['merchantId'] = params['merchant_id']
            merchantId=merchant_id

        query_params = []
        if 'status' in params:
            query_params.append(('status', params['status']))

        header_params = {}

        form_params = []
        local_var_files = {}

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(['application/hal+json;charset=utf-8'])

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(['application/json;charset=utf-8'])

        body_params = None
        if 'GET' in ('POST'):
            body_params = '{}'
        
        file_post_body_and_delimiter = MultipartHelpers.build_post_body_for_files(local_var_files)
        if file_post_body_and_delimiter is not None:
            body_params = file_post_body_and_delimiter[0]
            header_params['Content-Type'] = f"multipart/form-data; boundary={file_post_body_and_delimiter[1]}" 

        inbound_mle_status = "false"
        if MLEUtility.check_is_mle_for_api(self.api_client.mconfig, inbound_mle_status, "list_merchant_keys,list_merchant_keys_with_http_info"):
                body_params = MLEUtility.encrypt_request_payload(self.api_client.mconfig, body_params)
        
        isResponseMLEforApi = MLEUtility.check_is_response_mle_for_api(self.api_client.mconfig, "list_merchant_keys,list_merchant_keys_with_http_info")

        # Authentication setting
        auth_settings = []

        return self.api_client.call_api(f'/icc/v1/merchants/{merchantId}/keys', 'GET',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='ListMerchantKeysResponse200',
                                        auth_settings=auth_settings,
                                        callback=params.get('callback'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats,
                                        isResponseMLEforApi=isResponseMLEforApi)

    def register_merchant(self, merchant_request, **kwargs):
        """
        Register a merchant
        **Register a Merchant**<br>Onboards a new merchant into the Visa Merchant Registry Service (VMRS). The merchant declares how payment credentials should be delivered: cryptogram type (TAVV or DAVV), transaction indicator (TAP — Trusted Agent Protocol, ACG — Agentic Checkout Gateway, or BOTH), and whether credentials should be encrypted.<br><br> If `paymentPayloadType` is set to ***ENCRYPTED***, an `encryptionKey` must be provided.<br> Returns **409** if a merchant with the same `merchantUrl` or `vmid` already exists. 
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.register_merchant(merchant_request, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param MerchantRequest merchant_request: Merchant registration request (required)
        :return: MerchantRegistrationResponse201
                 If the method is called asynchronously,
                 returns the request thread.
        """

        self.logger.info("CALL TO METHOD `register_merchant` STARTED")

        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.register_merchant_with_http_info(merchant_request, **kwargs)
        else:
            (data) = self.register_merchant_with_http_info(merchant_request, **kwargs)
            return data

    def register_merchant_with_http_info(self, merchant_request, **kwargs):
        """
        Register a merchant
        **Register a Merchant**<br>Onboards a new merchant into the Visa Merchant Registry Service (VMRS). The merchant declares how payment credentials should be delivered: cryptogram type (TAVV or DAVV), transaction indicator (TAP — Trusted Agent Protocol, ACG — Agentic Checkout Gateway, or BOTH), and whether credentials should be encrypted.<br><br> If `paymentPayloadType` is set to ***ENCRYPTED***, an `encryptionKey` must be provided.<br> Returns **409** if a merchant with the same `merchantUrl` or `vmid` already exists. 
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.register_merchant_with_http_info(merchant_request, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param MerchantRequest merchant_request: Merchant registration request (required)
        :return: MerchantRegistrationResponse201
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['merchant_request']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method register_merchant" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'merchant_request' is set
        if ('merchant_request' not in params) or (params['merchant_request'] is None):
            self.logger.error("InvalidArgumentException : Missing the required parameter `merchant_request` when calling `register_merchant`")
            raise ValueError("Missing the required parameter `merchant_request` when calling `register_merchant`")


        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(['application/hal+json;charset=utf-8'])

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(['application/json;charset=utf-8'])

        body_params = None
        if 'merchant_request' in params:
            body_params = params['merchant_request']
        
            sdkTracker = SdkTracker()
            body_params = sdkTracker.insert_developer_id_tracker(body_params, 'merchant_request', self.api_client.mconfig.run_environment, self.api_client.mconfig.defaultDeveloperId)
            body_params = process_body(body_params)

        inbound_mle_status = "mandatory"
        if MLEUtility.check_is_mle_for_api(self.api_client.mconfig, inbound_mle_status, "register_merchant,register_merchant_with_http_info"):
                body_params = MLEUtility.encrypt_request_payload(self.api_client.mconfig, body_params)
        
        isResponseMLEforApi = MLEUtility.check_is_response_mle_for_api(self.api_client.mconfig, "register_merchant,register_merchant_with_http_info")

        # Authentication setting
        auth_settings = []

        return self.api_client.call_api(f'/icc/v1/merchants', 'POST',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='MerchantRegistrationResponse201',
                                        auth_settings=auth_settings,
                                        callback=params.get('callback'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats,
                                        isResponseMLEforApi=isResponseMLEforApi)

    def update_merchant(self, merchant_id, merchant_update, **kwargs):
        """
        Update a merchant
        **Update a Merchant**<br>Updates merchant configuration. The following fields can be modified: `merchantName`, `merchantUrl`, `cryptogramType`, `paymentPayloadType`, `acceptanceRelationships`, `protocolInteractions`, `webIntegrations`, and `apiIntegrations`.<br><br> Partial updates are supported — only provided fields are changed. The `vmid` and `indicator` fields cannot be updated via this endpoint.<br> Returns **400** if switching to ***ENCRYPTED*** without an active encryption key, **403** if the merchant is deactivated, **404** if not found, **409** if the new `merchantUrl` already exists. 
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.update_merchant(merchant_id, merchant_update, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str merchant_id: Unique merchant identifier (UUID) (required)
        :param MerchantUpdate merchant_update: Merchant update request (required)
        :return: MerchantRegistrationResponse201
                 If the method is called asynchronously,
                 returns the request thread.
        """

        self.logger.info("CALL TO METHOD `update_merchant` STARTED")

        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.update_merchant_with_http_info(merchant_id, merchant_update, **kwargs)
        else:
            (data) = self.update_merchant_with_http_info(merchant_id, merchant_update, **kwargs)
            return data

    def update_merchant_with_http_info(self, merchant_id, merchant_update, **kwargs):
        """
        Update a merchant
        **Update a Merchant**<br>Updates merchant configuration. The following fields can be modified: `merchantName`, `merchantUrl`, `cryptogramType`, `paymentPayloadType`, `acceptanceRelationships`, `protocolInteractions`, `webIntegrations`, and `apiIntegrations`.<br><br> Partial updates are supported — only provided fields are changed. The `vmid` and `indicator` fields cannot be updated via this endpoint.<br> Returns **400** if switching to ***ENCRYPTED*** without an active encryption key, **403** if the merchant is deactivated, **404** if not found, **409** if the new `merchantUrl` already exists. 
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.update_merchant_with_http_info(merchant_id, merchant_update, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str merchant_id: Unique merchant identifier (UUID) (required)
        :param MerchantUpdate merchant_update: Merchant update request (required)
        :return: MerchantRegistrationResponse201
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['merchant_id', 'merchant_update']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_merchant" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'merchant_id' is set
        if ('merchant_id' not in params) or (params['merchant_id'] is None):
            self.logger.error("InvalidArgumentException : Missing the required parameter `merchant_id` when calling `update_merchant`")
            raise ValueError("Missing the required parameter `merchant_id` when calling `update_merchant`")
        # verify the required parameter 'merchant_update' is set
        if ('merchant_update' not in params) or (params['merchant_update'] is None):
            self.logger.error("InvalidArgumentException : Missing the required parameter `merchant_update` when calling `update_merchant`")
            raise ValueError("Missing the required parameter `merchant_update` when calling `update_merchant`")


        collection_formats = {}

        path_params = {}
        if 'merchant_id' in params:
            path_params['merchantId'] = params['merchant_id']
            merchantId=merchant_id

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(['application/hal+json;charset=utf-8'])

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(['application/json;charset=utf-8'])

        body_params = None
        if 'merchant_update' in params:
            body_params = params['merchant_update']
        
            sdkTracker = SdkTracker()
            body_params = sdkTracker.insert_developer_id_tracker(body_params, 'merchant_update', self.api_client.mconfig.run_environment, self.api_client.mconfig.defaultDeveloperId)
            body_params = process_body(body_params)

        inbound_mle_status = "mandatory"
        if MLEUtility.check_is_mle_for_api(self.api_client.mconfig, inbound_mle_status, "update_merchant,update_merchant_with_http_info"):
                body_params = MLEUtility.encrypt_request_payload(self.api_client.mconfig, body_params)
        
        isResponseMLEforApi = MLEUtility.check_is_response_mle_for_api(self.api_client.mconfig, "update_merchant,update_merchant_with_http_info")

        # Authentication setting
        auth_settings = []

        return self.api_client.call_api(f'/icc/v1/merchants/{merchantId}', 'PUT',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='MerchantRegistrationResponse201',
                                        auth_settings=auth_settings,
                                        callback=params.get('callback'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats,
                                        isResponseMLEforApi=isResponseMLEforApi)

    def update_merchant_key(self, merchant_id, key_id, key_update, **kwargs):
        """
        Update a merchant key
        **Update a Merchant Key**<br>Updates encryption key information. The following fields can be modified: `keyName`, `encryptionKey`, `algorithm`, `encryptionType`, and `expirationDate`.<br><br> Returns **403** if the merchant is deactivated, key is deactivated, or key is expired, **404** if the merchant or key is not found, **409** if the new `keyName` already exists. 
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.update_merchant_key(merchant_id, key_id, key_update, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str merchant_id: Unique merchant identifier (UUID) (required)
        :param str key_id: Unique key identifier (UUID) (required)
        :param KeyUpdate1 key_update: Key update request (required)
        :return: ActivateMerchantKeyResponse200
                 If the method is called asynchronously,
                 returns the request thread.
        """

        self.logger.info("CALL TO METHOD `update_merchant_key` STARTED")

        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.update_merchant_key_with_http_info(merchant_id, key_id, key_update, **kwargs)
        else:
            (data) = self.update_merchant_key_with_http_info(merchant_id, key_id, key_update, **kwargs)
            return data

    def update_merchant_key_with_http_info(self, merchant_id, key_id, key_update, **kwargs):
        """
        Update a merchant key
        **Update a Merchant Key**<br>Updates encryption key information. The following fields can be modified: `keyName`, `encryptionKey`, `algorithm`, `encryptionType`, and `expirationDate`.<br><br> Returns **403** if the merchant is deactivated, key is deactivated, or key is expired, **404** if the merchant or key is not found, **409** if the new `keyName` already exists. 
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.update_merchant_key_with_http_info(merchant_id, key_id, key_update, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str merchant_id: Unique merchant identifier (UUID) (required)
        :param str key_id: Unique key identifier (UUID) (required)
        :param KeyUpdate1 key_update: Key update request (required)
        :return: ActivateMerchantKeyResponse200
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['merchant_id', 'key_id', 'key_update']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_merchant_key" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'merchant_id' is set
        if ('merchant_id' not in params) or (params['merchant_id'] is None):
            self.logger.error("InvalidArgumentException : Missing the required parameter `merchant_id` when calling `update_merchant_key`")
            raise ValueError("Missing the required parameter `merchant_id` when calling `update_merchant_key`")
        # verify the required parameter 'key_id' is set
        if ('key_id' not in params) or (params['key_id'] is None):
            self.logger.error("InvalidArgumentException : Missing the required parameter `key_id` when calling `update_merchant_key`")
            raise ValueError("Missing the required parameter `key_id` when calling `update_merchant_key`")
        # verify the required parameter 'key_update' is set
        if ('key_update' not in params) or (params['key_update'] is None):
            self.logger.error("InvalidArgumentException : Missing the required parameter `key_update` when calling `update_merchant_key`")
            raise ValueError("Missing the required parameter `key_update` when calling `update_merchant_key`")


        collection_formats = {}

        path_params = {}
        if 'merchant_id' in params:
            path_params['merchantId'] = params['merchant_id']
            merchantId=merchant_id
        if 'key_id' in params:
            path_params['keyId'] = params['key_id']
            keyId=key_id

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(['application/hal+json;charset=utf-8'])

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(['application/json;charset=utf-8'])

        body_params = None
        if 'key_update' in params:
            body_params = params['key_update']
        
            sdkTracker = SdkTracker()
            body_params = sdkTracker.insert_developer_id_tracker(body_params, 'key_update', self.api_client.mconfig.run_environment, self.api_client.mconfig.defaultDeveloperId)
            body_params = process_body(body_params)

        inbound_mle_status = "mandatory"
        if MLEUtility.check_is_mle_for_api(self.api_client.mconfig, inbound_mle_status, "update_merchant_key,update_merchant_key_with_http_info"):
                body_params = MLEUtility.encrypt_request_payload(self.api_client.mconfig, body_params)
        
        isResponseMLEforApi = MLEUtility.check_is_response_mle_for_api(self.api_client.mconfig, "update_merchant_key,update_merchant_key_with_http_info")

        # Authentication setting
        auth_settings = []

        return self.api_client.call_api(f'/icc/v1/merchants/{merchantId}/keys/{keyId}', 'PUT',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='ActivateMerchantKeyResponse200',
                                        auth_settings=auth_settings,
                                        callback=params.get('callback'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats,
                                        isResponseMLEforApi=isResponseMLEforApi)
