# coding: utf-8

"""
    CyberSource Merged Spec

    All CyberSource API specs merged together. These are available at https://developer.cybersource.com/api/reference/api-reference.html

    OpenAPI spec version: 0.0.1
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import sys
import os
import re

# python 2 and python 3 compatibility library
from six import iteritems

from ..configuration import Configuration
from ..api_client import ApiClient
import CyberSource.logging.log_factory as LogFactory
from CyberSource.utilities.MultipartHelpers import MultipartHelpers
from authenticationsdk.util.MLEUtility import MLEUtility
from authenticationsdk.util.GlobalLabelParameters import GlobalLabelParameters
from authenticationsdk.util.Utility import process_body

from ..utilities.tracking.sdk_tracker import SdkTracker
class ProductFeedApi(object):
    """
    NOTE: This class is auto generated by the swagger code generator program.
    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """
	
    def __init__(self, merchant_config, api_client=None):
        if api_client:
            self.api_client = api_client
        else:
            self.api_client = ApiClient()
        self.api_client.set_configuration(merchant_config)
        self.logger = LogFactory.setup_logger(self.__class__.__name__, self.api_client.mconfig.log_config)



    def get_all_products(self, get_all_products_request, **kwargs):
        """
        Get All Products
        Returns the full product catalog stored in ACG.  **Note:** This endpoint is intended for catalog verification and merchant tooling. It is not a real-time product discovery API for end buyers. 
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_all_products(get_all_products_request, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param object get_all_products_request: Empty request body. (required)
        :param int page: Page number to retrieve (0-based). Defaults to 0.
        :param int size: Number of products per page. Defaults to 300. Server enforces a maximum of 1000; values above 1000 are capped. 
        :return: InlineResponse20020
                 If the method is called asynchronously,
                 returns the request thread.
        """

        self.logger.info("CALL TO METHOD `get_all_products` STARTED")

        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.get_all_products_with_http_info(get_all_products_request, **kwargs)
        else:
            (data) = self.get_all_products_with_http_info(get_all_products_request, **kwargs)
            return data

    def get_all_products_with_http_info(self, get_all_products_request, **kwargs):
        """
        Get All Products
        Returns the full product catalog stored in ACG.  **Note:** This endpoint is intended for catalog verification and merchant tooling. It is not a real-time product discovery API for end buyers. 
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_all_products_with_http_info(get_all_products_request, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param object get_all_products_request: Empty request body. (required)
        :param int page: Page number to retrieve (0-based). Defaults to 0.
        :param int size: Number of products per page. Defaults to 300. Server enforces a maximum of 1000; values above 1000 are capped. 
        :return: InlineResponse20020
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['get_all_products_request', 'page', 'size']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_all_products" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'get_all_products_request' is set
        if ('get_all_products_request' not in params) or (params['get_all_products_request'] is None):
            self.logger.error("InvalidArgumentException : Missing the required parameter `get_all_products_request` when calling `get_all_products`")
            raise ValueError("Missing the required parameter `get_all_products_request` when calling `get_all_products`")


        collection_formats = {}

        path_params = {}

        query_params = []
        if 'page' in params:
            query_params.append(('page', params['page']))
        if 'size' in params:
            query_params.append(('size', params['size']))

        header_params = {}

        form_params = []
        local_var_files = {}

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(['application/hal+json;charset=utf-8'])

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(['application/json;charset=utf-8'])

        body_params = None
        if 'get_all_products_request' in params:
            body_params = params['get_all_products_request']
        
            sdkTracker = SdkTracker()
            body_params = sdkTracker.insert_developer_id_tracker(body_params, 'get_all_products_request', self.api_client.mconfig.run_environment, self.api_client.mconfig.defaultDeveloperId)
            body_params = process_body(body_params)

        inbound_mle_status = "false"
        if MLEUtility.check_is_mle_for_api(self.api_client.mconfig, inbound_mle_status, "get_all_products,get_all_products_with_http_info"):
                body_params = MLEUtility.encrypt_request_payload(self.api_client.mconfig, body_params)
        
        isResponseMLEforApi = MLEUtility.check_is_response_mle_for_api(self.api_client.mconfig, "get_all_products,get_all_products_with_http_info")

        # Authentication setting
        auth_settings = []

        return self.api_client.call_api(f'/icc/v1/products', 'GET',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='InlineResponse20020',
                                        auth_settings=auth_settings,
                                        callback=params.get('callback'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats,
                                        isResponseMLEforApi=isResponseMLEforApi)

    def get_feed_job_status(self, job_id, get_feed_job_status_request, **kwargs):
        """
        Get Feed Job Status
        Returns the processing and syndication status of a previously submitted product feed job.  Use this to poll the `jobId` returned by the Ingest Product Feed endpoint until processing and syndication complete. 
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_feed_job_status(job_id, get_feed_job_status_request, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str job_id: Unique identifier of the feed submission job, returned by the Ingest Product Feed endpoint.  (required)
        :param object get_feed_job_status_request: Empty request body. (required)
        :return: InlineResponse20019
                 If the method is called asynchronously,
                 returns the request thread.
        """

        self.logger.info("CALL TO METHOD `get_feed_job_status` STARTED")

        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.get_feed_job_status_with_http_info(job_id, get_feed_job_status_request, **kwargs)
        else:
            (data) = self.get_feed_job_status_with_http_info(job_id, get_feed_job_status_request, **kwargs)
            return data

    def get_feed_job_status_with_http_info(self, job_id, get_feed_job_status_request, **kwargs):
        """
        Get Feed Job Status
        Returns the processing and syndication status of a previously submitted product feed job.  Use this to poll the `jobId` returned by the Ingest Product Feed endpoint until processing and syndication complete. 
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_feed_job_status_with_http_info(job_id, get_feed_job_status_request, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str job_id: Unique identifier of the feed submission job, returned by the Ingest Product Feed endpoint.  (required)
        :param object get_feed_job_status_request: Empty request body. (required)
        :return: InlineResponse20019
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['job_id', 'get_feed_job_status_request']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_feed_job_status" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'job_id' is set
        if ('job_id' not in params) or (params['job_id'] is None):
            self.logger.error("InvalidArgumentException : Missing the required parameter `job_id` when calling `get_feed_job_status`")
            raise ValueError("Missing the required parameter `job_id` when calling `get_feed_job_status`")
        # verify the required parameter 'get_feed_job_status_request' is set
        if ('get_feed_job_status_request' not in params) or (params['get_feed_job_status_request'] is None):
            self.logger.error("InvalidArgumentException : Missing the required parameter `get_feed_job_status_request` when calling `get_feed_job_status`")
            raise ValueError("Missing the required parameter `get_feed_job_status_request` when calling `get_feed_job_status`")


        collection_formats = {}

        path_params = {}
        if 'job_id' in params:
            path_params['jobId'] = params['job_id']
            jobId=job_id

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(['application/hal+json;charset=utf-8'])

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(['application/json;charset=utf-8'])

        body_params = None
        if 'get_feed_job_status_request' in params:
            body_params = params['get_feed_job_status_request']
        
            sdkTracker = SdkTracker()
            body_params = sdkTracker.insert_developer_id_tracker(body_params, 'get_feed_job_status_request', self.api_client.mconfig.run_environment, self.api_client.mconfig.defaultDeveloperId)
            body_params = process_body(body_params)

        inbound_mle_status = "false"
        if MLEUtility.check_is_mle_for_api(self.api_client.mconfig, inbound_mle_status, "get_feed_job_status,get_feed_job_status_with_http_info"):
                body_params = MLEUtility.encrypt_request_payload(self.api_client.mconfig, body_params)
        
        isResponseMLEforApi = MLEUtility.check_is_response_mle_for_api(self.api_client.mconfig, "get_feed_job_status,get_feed_job_status_with_http_info")

        # Authentication setting
        auth_settings = []

        return self.api_client.call_api(f'/icc/v1/products/feed/bulk/{jobId}', 'GET',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='InlineResponse20019',
                                        auth_settings=auth_settings,
                                        callback=params.get('callback'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats,
                                        isResponseMLEforApi=isResponseMLEforApi)

    def get_product(self, product_id, get_product_request, **kwargs):
        """
        Get Product by ID
        Retrieves a single product from the ACG catalog by its unique product identifier (SKU).  Use this to verify that a product was ingested correctly, inspect its current field values, or check its syndication-eligibility flags (`is_eligible_search`, `is_eligible_checkout`). 
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_product(product_id, get_product_request, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str product_id: The unique product identifier (SKU) assigned by the merchant and provided during feed ingestion. Example: `SKU-1001`.  (required)
        :param object get_product_request: Empty request body. (required)
        :return: InlineResponse20021
                 If the method is called asynchronously,
                 returns the request thread.
        """

        self.logger.info("CALL TO METHOD `get_product` STARTED")

        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.get_product_with_http_info(product_id, get_product_request, **kwargs)
        else:
            (data) = self.get_product_with_http_info(product_id, get_product_request, **kwargs)
            return data

    def get_product_with_http_info(self, product_id, get_product_request, **kwargs):
        """
        Get Product by ID
        Retrieves a single product from the ACG catalog by its unique product identifier (SKU).  Use this to verify that a product was ingested correctly, inspect its current field values, or check its syndication-eligibility flags (`is_eligible_search`, `is_eligible_checkout`). 
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_product_with_http_info(product_id, get_product_request, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str product_id: The unique product identifier (SKU) assigned by the merchant and provided during feed ingestion. Example: `SKU-1001`.  (required)
        :param object get_product_request: Empty request body. (required)
        :return: InlineResponse20021
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['product_id', 'get_product_request']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_product" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'product_id' is set
        if ('product_id' not in params) or (params['product_id'] is None):
            self.logger.error("InvalidArgumentException : Missing the required parameter `product_id` when calling `get_product`")
            raise ValueError("Missing the required parameter `product_id` when calling `get_product`")
        # verify the required parameter 'get_product_request' is set
        if ('get_product_request' not in params) or (params['get_product_request'] is None):
            self.logger.error("InvalidArgumentException : Missing the required parameter `get_product_request` when calling `get_product`")
            raise ValueError("Missing the required parameter `get_product_request` when calling `get_product`")


        collection_formats = {}

        path_params = {}
        if 'product_id' in params:
            path_params['product_id'] = params['product_id']
            product_id=product_id

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(['application/hal+json;charset=utf-8'])

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(['application/json;charset=utf-8'])

        body_params = None
        if 'get_product_request' in params:
            body_params = params['get_product_request']
        
            sdkTracker = SdkTracker()
            body_params = sdkTracker.insert_developer_id_tracker(body_params, 'get_product_request', self.api_client.mconfig.run_environment, self.api_client.mconfig.defaultDeveloperId)
            body_params = process_body(body_params)

        inbound_mle_status = "false"
        if MLEUtility.check_is_mle_for_api(self.api_client.mconfig, inbound_mle_status, "get_product,get_product_with_http_info"):
                body_params = MLEUtility.encrypt_request_payload(self.api_client.mconfig, body_params)
        
        isResponseMLEforApi = MLEUtility.check_is_response_mle_for_api(self.api_client.mconfig, "get_product,get_product_with_http_info")

        # Authentication setting
        auth_settings = []

        return self.api_client.call_api(f'/icc/v1/products/{product_id}', 'GET',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='InlineResponse20021',
                                        auth_settings=auth_settings,
                                        callback=params.get('callback'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats,
                                        isResponseMLEforApi=isResponseMLEforApi)

    def submit_product_feed_json(self, product_feed_request, **kwargs):
        """
        Ingest Product Feed
        Submits a merchant product catalog to ACG for asynchronous processing and syndication to all configured protocol backends (e.g. Google Merchant Center).  **Processing pipeline:** 1. The request is accepted immediately and a `jobId` is returned — validation, ingestion,    and syndication all happen asynchronously in the background. 2. Each product is validated against UCP/ACP schema requirements (required fields, format rules) 3. Valid products are saved to the ACG catalog 4. An async syndication job is triggered to push the catalog to configured backends  **Supported content types:** `application/json` (this endpoint). CSV and JSONL uploads are also supported via file upload endpoints.  **Note:** This endpoint no longer returns per-product validation results or syndication outcomes synchronously — only the `jobId` acknowledgement shown below. Use that `jobId` to track processing and syndication status. 
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.submit_product_feed_json(product_feed_request, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param ProductFeedRequest product_feed_request: Product feed payload. The `products` array is required and must contain at least one product. See `ProductInput` for the full list of required fields.  (required)
        :return: InlineResponse2021
                 If the method is called asynchronously,
                 returns the request thread.
        """

        self.logger.info("CALL TO METHOD `submit_product_feed_json` STARTED")

        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.submit_product_feed_json_with_http_info(product_feed_request, **kwargs)
        else:
            (data) = self.submit_product_feed_json_with_http_info(product_feed_request, **kwargs)
            return data

    def submit_product_feed_json_with_http_info(self, product_feed_request, **kwargs):
        """
        Ingest Product Feed
        Submits a merchant product catalog to ACG for asynchronous processing and syndication to all configured protocol backends (e.g. Google Merchant Center).  **Processing pipeline:** 1. The request is accepted immediately and a `jobId` is returned — validation, ingestion,    and syndication all happen asynchronously in the background. 2. Each product is validated against UCP/ACP schema requirements (required fields, format rules) 3. Valid products are saved to the ACG catalog 4. An async syndication job is triggered to push the catalog to configured backends  **Supported content types:** `application/json` (this endpoint). CSV and JSONL uploads are also supported via file upload endpoints.  **Note:** This endpoint no longer returns per-product validation results or syndication outcomes synchronously — only the `jobId` acknowledgement shown below. Use that `jobId` to track processing and syndication status. 
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.submit_product_feed_json_with_http_info(product_feed_request, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param ProductFeedRequest product_feed_request: Product feed payload. The `products` array is required and must contain at least one product. See `ProductInput` for the full list of required fields.  (required)
        :return: InlineResponse2021
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['product_feed_request']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method submit_product_feed_json" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'product_feed_request' is set
        if ('product_feed_request' not in params) or (params['product_feed_request'] is None):
            self.logger.error("InvalidArgumentException : Missing the required parameter `product_feed_request` when calling `submit_product_feed_json`")
            raise ValueError("Missing the required parameter `product_feed_request` when calling `submit_product_feed_json`")


        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(['application/hal+json;charset=utf-8'])

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(['application/json;charset=utf-8'])

        body_params = None
        if 'product_feed_request' in params:
            body_params = params['product_feed_request']
        
            sdkTracker = SdkTracker()
            body_params = sdkTracker.insert_developer_id_tracker(body_params, 'product_feed_request', self.api_client.mconfig.run_environment, self.api_client.mconfig.defaultDeveloperId)
            body_params = process_body(body_params)

        inbound_mle_status = "mandatory"
        if MLEUtility.check_is_mle_for_api(self.api_client.mconfig, inbound_mle_status, "submit_product_feed_json,submit_product_feed_json_with_http_info"):
                body_params = MLEUtility.encrypt_request_payload(self.api_client.mconfig, body_params)
        
        isResponseMLEforApi = MLEUtility.check_is_response_mle_for_api(self.api_client.mconfig, "submit_product_feed_json,submit_product_feed_json_with_http_info")

        # Authentication setting
        auth_settings = []

        return self.api_client.call_api(f'/icc/v1/products/feed', 'POST',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='InlineResponse2021',
                                        auth_settings=auth_settings,
                                        callback=params.get('callback'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats,
                                        isResponseMLEforApi=isResponseMLEforApi)
