# coding: utf-8

"""
    CyberSource Merged Spec

    All CyberSource API specs merged together. These are available at https://developer.cybersource.com/api/reference/api-reference.html

    OpenAPI spec version: 0.0.1
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import sys
import os
import re

# python 2 and python 3 compatibility library
from six import iteritems

from ..configuration import Configuration
from ..api_client import ApiClient
import CyberSource.logging.log_factory as LogFactory
from CyberSource.utilities.MultipartHelpers import MultipartHelpers
from authenticationsdk.util.MLEUtility import MLEUtility
from authenticationsdk.util.GlobalLabelParameters import GlobalLabelParameters
from authenticationsdk.util.Utility import process_body

from ..utilities.tracking.sdk_tracker import SdkTracker
class UCPCheckoutApi(object):
    """
    NOTE: This class is auto generated by the swagger code generator program.
    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """
	
    def __init__(self, merchant_config, api_client=None):
        if api_client:
            self.api_client = api_client
        else:
            self.api_client = ApiClient()
        self.api_client.set_configuration(merchant_config)
        self.logger = LogFactory.setup_logger(self.__class__.__name__, self.api_client.mconfig.log_config)



    def ucp_cancel_checkout(self, session_id, **kwargs):
        """
        Cancel Checkout UCP
        Cancels an active UCP checkout session. No charge is made.  This operation is idempotent — cancelling an already-cancelled session returns a successful response. Sessions also expire automatically after 30 minutes of inactivity. 
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.ucp_cancel_checkout(session_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str session_id: The unique identifier of the UCP checkout session to cancel. (required)
        :return: InlineResponse20113
                 If the method is called asynchronously,
                 returns the request thread.
        """

        self.logger.info("CALL TO METHOD `ucp_cancel_checkout` STARTED")

        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.ucp_cancel_checkout_with_http_info(session_id, **kwargs)
        else:
            (data) = self.ucp_cancel_checkout_with_http_info(session_id, **kwargs)
            return data

    def ucp_cancel_checkout_with_http_info(self, session_id, **kwargs):
        """
        Cancel Checkout UCP
        Cancels an active UCP checkout session. No charge is made.  This operation is idempotent — cancelling an already-cancelled session returns a successful response. Sessions also expire automatically after 30 minutes of inactivity. 
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.ucp_cancel_checkout_with_http_info(session_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str session_id: The unique identifier of the UCP checkout session to cancel. (required)
        :return: InlineResponse20113
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['session_id']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method ucp_cancel_checkout" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'session_id' is set
        if ('session_id' not in params) or (params['session_id'] is None):
            self.logger.error("InvalidArgumentException : Missing the required parameter `session_id` when calling `ucp_cancel_checkout`")
            raise ValueError("Missing the required parameter `session_id` when calling `ucp_cancel_checkout`")


        collection_formats = {}

        path_params = {}
        if 'session_id' in params:
            path_params['session_id'] = params['session_id']
            session_id=session_id

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(['application/hal+json;charset=utf-8'])

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(['application/json;charset=utf-8'])

        body_params = None
        if 'POST' in ('POST'):
            body_params = '{}'
        
        file_post_body_and_delimiter = MultipartHelpers.build_post_body_for_files(local_var_files)
        if file_post_body_and_delimiter is not None:
            body_params = file_post_body_and_delimiter[0]
            header_params['Content-Type'] = f"multipart/form-data; boundary={file_post_body_and_delimiter[1]}" 

        inbound_mle_status = "mandatory"
        if MLEUtility.check_is_mle_for_api(self.api_client.mconfig, inbound_mle_status, "ucp_cancel_checkout,ucp_cancel_checkout_with_http_info"):
                body_params = MLEUtility.encrypt_request_payload(self.api_client.mconfig, body_params)
        
        isResponseMLEforApi = MLEUtility.check_is_response_mle_for_api(self.api_client.mconfig, "ucp_cancel_checkout,ucp_cancel_checkout_with_http_info")

        # Authentication setting
        auth_settings = []

        return self.api_client.call_api(f'/icc/v1/checkout-sessions/{session_id}/cancel', 'POST',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='InlineResponse20113',
                                        auth_settings=auth_settings,
                                        callback=params.get('callback'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats,
                                        isResponseMLEforApi=isResponseMLEforApi)

    def ucp_complete_checkout(self, session_id, **kwargs):
        """
        Complete Checkout UCP
        **Final step of the UCP checkout flow.**  Finalizes the session and places the order with the merchant. ACG translates the UCP completion request to the merchant's checkout API.  On success, the session transitions to `completed`. An `order_id` is not returned in the UCP response — use the ACP Complete endpoint if you need order confirmation details.  **Always use an `idempotency-key`** to prevent duplicate orders on network retries. 
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.ucp_complete_checkout(session_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str session_id: The unique identifier of the UCP checkout session to complete. (required)
        :param str idempotency_key: **Strongly recommended.** A unique key that ensures this order is placed exactly once on retries. Lowercase per UCP spec. 
        :param UcpCompleteCheckoutRequest ucp_complete_checkout_request: UCP completion payload containing payment instrument and optional risk signals. If payment context was already provided in the Create or Update call, the body can be omitted. Risk signals are logged for fraud analysis and are not forwarded to the merchant. 
        :return: InlineResponse20113
                 If the method is called asynchronously,
                 returns the request thread.
        """

        self.logger.info("CALL TO METHOD `ucp_complete_checkout` STARTED")

        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.ucp_complete_checkout_with_http_info(session_id, **kwargs)
        else:
            (data) = self.ucp_complete_checkout_with_http_info(session_id, **kwargs)
            return data

    def ucp_complete_checkout_with_http_info(self, session_id, **kwargs):
        """
        Complete Checkout UCP
        **Final step of the UCP checkout flow.**  Finalizes the session and places the order with the merchant. ACG translates the UCP completion request to the merchant's checkout API.  On success, the session transitions to `completed`. An `order_id` is not returned in the UCP response — use the ACP Complete endpoint if you need order confirmation details.  **Always use an `idempotency-key`** to prevent duplicate orders on network retries. 
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.ucp_complete_checkout_with_http_info(session_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str session_id: The unique identifier of the UCP checkout session to complete. (required)
        :param str idempotency_key: **Strongly recommended.** A unique key that ensures this order is placed exactly once on retries. Lowercase per UCP spec. 
        :param UcpCompleteCheckoutRequest ucp_complete_checkout_request: UCP completion payload containing payment instrument and optional risk signals. If payment context was already provided in the Create or Update call, the body can be omitted. Risk signals are logged for fraud analysis and are not forwarded to the merchant. 
        :return: InlineResponse20113
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['session_id', 'idempotency_key', 'ucp_complete_checkout_request']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method ucp_complete_checkout" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'session_id' is set
        if ('session_id' not in params) or (params['session_id'] is None):
            self.logger.error("InvalidArgumentException : Missing the required parameter `session_id` when calling `ucp_complete_checkout`")
            raise ValueError("Missing the required parameter `session_id` when calling `ucp_complete_checkout`")


        collection_formats = {}

        path_params = {}
        if 'session_id' in params:
            path_params['session_id'] = params['session_id']
            session_id=session_id

        query_params = []

        header_params = {}
        if 'idempotency_key' in params:
            header_params['idempotency-key'] = params['idempotency_key']

        form_params = []
        local_var_files = {}

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(['application/hal+json;charset=utf-8'])

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(['application/json;charset=utf-8'])

        body_params = None
        if 'ucp_complete_checkout_request' in params:
            body_params = params['ucp_complete_checkout_request']
        
            sdkTracker = SdkTracker()
            body_params = sdkTracker.insert_developer_id_tracker(body_params, 'ucp_complete_checkout_request', self.api_client.mconfig.run_environment, self.api_client.mconfig.defaultDeveloperId)
            body_params = process_body(body_params)

        inbound_mle_status = "mandatory"
        if MLEUtility.check_is_mle_for_api(self.api_client.mconfig, inbound_mle_status, "ucp_complete_checkout,ucp_complete_checkout_with_http_info"):
                body_params = MLEUtility.encrypt_request_payload(self.api_client.mconfig, body_params)
        
        isResponseMLEforApi = MLEUtility.check_is_response_mle_for_api(self.api_client.mconfig, "ucp_complete_checkout,ucp_complete_checkout_with_http_info")

        # Authentication setting
        auth_settings = []

        return self.api_client.call_api(f'/icc/v1/checkout-sessions/{session_id}/complete', 'POST',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='InlineResponse20113',
                                        auth_settings=auth_settings,
                                        callback=params.get('callback'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats,
                                        isResponseMLEforApi=isResponseMLEforApi)

    def ucp_create_checkout_session(self, ucp_create_checkout_session_request, **kwargs):
        """
        Create Checkout Session UCP
        **Step 1 of the UCP checkout flow.**  Creates a new UCP checkout session using Google's Universal Commerce Protocol format. ACG translates the UCP request into the internal ACP format, applies merchant pricing, and returns a UCP-format session response with a session `id`.  UCP uses `line_items` (instead of `items`) and lowercase header names (`idempotency-key`) per the UCP specification.  **Store the `id`** from the response — it is required for all subsequent UCP calls. 
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.ucp_create_checkout_session(ucp_create_checkout_session_request, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param UcpCreateCheckoutSessionRequest ucp_create_checkout_session_request: UCP checkout session creation payload containing line items, buyer details, currency, and optional payment, fulfillment, and discount information.  (required)
        :param str idempotency_key: Client-generated unique key (UUID recommended) to ensure this request is processed exactly once. Lowercase per UCP specification. 
        :return: InlineResponse20113
                 If the method is called asynchronously,
                 returns the request thread.
        """

        self.logger.info("CALL TO METHOD `ucp_create_checkout_session` STARTED")

        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.ucp_create_checkout_session_with_http_info(ucp_create_checkout_session_request, **kwargs)
        else:
            (data) = self.ucp_create_checkout_session_with_http_info(ucp_create_checkout_session_request, **kwargs)
            return data

    def ucp_create_checkout_session_with_http_info(self, ucp_create_checkout_session_request, **kwargs):
        """
        Create Checkout Session UCP
        **Step 1 of the UCP checkout flow.**  Creates a new UCP checkout session using Google's Universal Commerce Protocol format. ACG translates the UCP request into the internal ACP format, applies merchant pricing, and returns a UCP-format session response with a session `id`.  UCP uses `line_items` (instead of `items`) and lowercase header names (`idempotency-key`) per the UCP specification.  **Store the `id`** from the response — it is required for all subsequent UCP calls. 
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.ucp_create_checkout_session_with_http_info(ucp_create_checkout_session_request, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param UcpCreateCheckoutSessionRequest ucp_create_checkout_session_request: UCP checkout session creation payload containing line items, buyer details, currency, and optional payment, fulfillment, and discount information.  (required)
        :param str idempotency_key: Client-generated unique key (UUID recommended) to ensure this request is processed exactly once. Lowercase per UCP specification. 
        :return: InlineResponse20113
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['ucp_create_checkout_session_request', 'idempotency_key']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method ucp_create_checkout_session" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'ucp_create_checkout_session_request' is set
        if ('ucp_create_checkout_session_request' not in params) or (params['ucp_create_checkout_session_request'] is None):
            self.logger.error("InvalidArgumentException : Missing the required parameter `ucp_create_checkout_session_request` when calling `ucp_create_checkout_session`")
            raise ValueError("Missing the required parameter `ucp_create_checkout_session_request` when calling `ucp_create_checkout_session`")


        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}
        if 'idempotency_key' in params:
            header_params['idempotency-key'] = params['idempotency_key']

        form_params = []
        local_var_files = {}

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(['application/hal+json;charset=utf-8'])

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(['application/json;charset=utf-8'])

        body_params = None
        if 'ucp_create_checkout_session_request' in params:
            body_params = params['ucp_create_checkout_session_request']
        
            sdkTracker = SdkTracker()
            body_params = sdkTracker.insert_developer_id_tracker(body_params, 'ucp_create_checkout_session_request', self.api_client.mconfig.run_environment, self.api_client.mconfig.defaultDeveloperId)
            body_params = process_body(body_params)

        inbound_mle_status = "mandatory"
        if MLEUtility.check_is_mle_for_api(self.api_client.mconfig, inbound_mle_status, "ucp_create_checkout_session,ucp_create_checkout_session_with_http_info"):
                body_params = MLEUtility.encrypt_request_payload(self.api_client.mconfig, body_params)
        
        isResponseMLEforApi = MLEUtility.check_is_response_mle_for_api(self.api_client.mconfig, "ucp_create_checkout_session,ucp_create_checkout_session_with_http_info")

        # Authentication setting
        auth_settings = []

        return self.api_client.call_api(f'/icc/v1/checkout-sessions', 'POST',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='InlineResponse20113',
                                        auth_settings=auth_settings,
                                        callback=params.get('callback'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats,
                                        isResponseMLEforApi=isResponseMLEforApi)

    def ucp_get_checkout_session(self, session_id, ucp_get_checkout_session_request, **kwargs):
        """
        Get Checkout Session UCP
        Retrieves the current state of a UCP checkout session.  Use this to verify session status, retrieve updated totals after a fulfillment change, or resume a session after an interruption. 
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.ucp_get_checkout_session(session_id, ucp_get_checkout_session_request, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str session_id: The unique identifier of the UCP checkout session to retrieve. Obtained from the `id` field in the Create Session response.  (required)
        :param object ucp_get_checkout_session_request: Empty request body. (required)
        :return: InlineResponse20113
                 If the method is called asynchronously,
                 returns the request thread.
        """

        self.logger.info("CALL TO METHOD `ucp_get_checkout_session` STARTED")

        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.ucp_get_checkout_session_with_http_info(session_id, ucp_get_checkout_session_request, **kwargs)
        else:
            (data) = self.ucp_get_checkout_session_with_http_info(session_id, ucp_get_checkout_session_request, **kwargs)
            return data

    def ucp_get_checkout_session_with_http_info(self, session_id, ucp_get_checkout_session_request, **kwargs):
        """
        Get Checkout Session UCP
        Retrieves the current state of a UCP checkout session.  Use this to verify session status, retrieve updated totals after a fulfillment change, or resume a session after an interruption. 
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.ucp_get_checkout_session_with_http_info(session_id, ucp_get_checkout_session_request, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str session_id: The unique identifier of the UCP checkout session to retrieve. Obtained from the `id` field in the Create Session response.  (required)
        :param object ucp_get_checkout_session_request: Empty request body. (required)
        :return: InlineResponse20113
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['session_id', 'ucp_get_checkout_session_request']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method ucp_get_checkout_session" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'session_id' is set
        if ('session_id' not in params) or (params['session_id'] is None):
            self.logger.error("InvalidArgumentException : Missing the required parameter `session_id` when calling `ucp_get_checkout_session`")
            raise ValueError("Missing the required parameter `session_id` when calling `ucp_get_checkout_session`")
        # verify the required parameter 'ucp_get_checkout_session_request' is set
        if ('ucp_get_checkout_session_request' not in params) or (params['ucp_get_checkout_session_request'] is None):
            self.logger.error("InvalidArgumentException : Missing the required parameter `ucp_get_checkout_session_request` when calling `ucp_get_checkout_session`")
            raise ValueError("Missing the required parameter `ucp_get_checkout_session_request` when calling `ucp_get_checkout_session`")


        collection_formats = {}

        path_params = {}
        if 'session_id' in params:
            path_params['session_id'] = params['session_id']
            session_id=session_id

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(['application/hal+json;charset=utf-8'])

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(['application/json;charset=utf-8'])

        body_params = None
        if 'ucp_get_checkout_session_request' in params:
            body_params = params['ucp_get_checkout_session_request']
        
            sdkTracker = SdkTracker()
            body_params = sdkTracker.insert_developer_id_tracker(body_params, 'ucp_get_checkout_session_request', self.api_client.mconfig.run_environment, self.api_client.mconfig.defaultDeveloperId)
            body_params = process_body(body_params)

        inbound_mle_status = "false"
        if MLEUtility.check_is_mle_for_api(self.api_client.mconfig, inbound_mle_status, "ucp_get_checkout_session,ucp_get_checkout_session_with_http_info"):
                body_params = MLEUtility.encrypt_request_payload(self.api_client.mconfig, body_params)
        
        isResponseMLEforApi = MLEUtility.check_is_response_mle_for_api(self.api_client.mconfig, "ucp_get_checkout_session,ucp_get_checkout_session_with_http_info")

        # Authentication setting
        auth_settings = []

        return self.api_client.call_api(f'/icc/v1/checkout-sessions/{session_id}', 'GET',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='InlineResponse20113',
                                        auth_settings=auth_settings,
                                        callback=params.get('callback'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats,
                                        isResponseMLEforApi=isResponseMLEforApi)

    def ucp_update_checkout_session(self, session_id, ucp_update_checkout_session_request, **kwargs):
        """
        Update Checkout Session UCP
        Modifies an active UCP checkout session and returns the updated session state.  Use this to change line item quantities, update fulfillment address or method, or apply discount codes. Totals are recalculated and returned in the response.  Only the fields you include in the request body are updated. 
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.ucp_update_checkout_session(session_id, ucp_update_checkout_session_request, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str session_id: The unique identifier of the UCP checkout session to update. (required)
        :param UcpUpdateCheckoutSessionRequest ucp_update_checkout_session_request: UCP session update payload. All fields are optional — only fields you include will be applied.  (required)
        :param str idempotency_key: Client-generated unique key for idempotency. Lowercase per UCP spec.
        :return: InlineResponse20113
                 If the method is called asynchronously,
                 returns the request thread.
        """

        self.logger.info("CALL TO METHOD `ucp_update_checkout_session` STARTED")

        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.ucp_update_checkout_session_with_http_info(session_id, ucp_update_checkout_session_request, **kwargs)
        else:
            (data) = self.ucp_update_checkout_session_with_http_info(session_id, ucp_update_checkout_session_request, **kwargs)
            return data

    def ucp_update_checkout_session_with_http_info(self, session_id, ucp_update_checkout_session_request, **kwargs):
        """
        Update Checkout Session UCP
        Modifies an active UCP checkout session and returns the updated session state.  Use this to change line item quantities, update fulfillment address or method, or apply discount codes. Totals are recalculated and returned in the response.  Only the fields you include in the request body are updated. 
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.ucp_update_checkout_session_with_http_info(session_id, ucp_update_checkout_session_request, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str session_id: The unique identifier of the UCP checkout session to update. (required)
        :param UcpUpdateCheckoutSessionRequest ucp_update_checkout_session_request: UCP session update payload. All fields are optional — only fields you include will be applied.  (required)
        :param str idempotency_key: Client-generated unique key for idempotency. Lowercase per UCP spec.
        :return: InlineResponse20113
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['session_id', 'ucp_update_checkout_session_request', 'idempotency_key']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method ucp_update_checkout_session" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'session_id' is set
        if ('session_id' not in params) or (params['session_id'] is None):
            self.logger.error("InvalidArgumentException : Missing the required parameter `session_id` when calling `ucp_update_checkout_session`")
            raise ValueError("Missing the required parameter `session_id` when calling `ucp_update_checkout_session`")
        # verify the required parameter 'ucp_update_checkout_session_request' is set
        if ('ucp_update_checkout_session_request' not in params) or (params['ucp_update_checkout_session_request'] is None):
            self.logger.error("InvalidArgumentException : Missing the required parameter `ucp_update_checkout_session_request` when calling `ucp_update_checkout_session`")
            raise ValueError("Missing the required parameter `ucp_update_checkout_session_request` when calling `ucp_update_checkout_session`")


        collection_formats = {}

        path_params = {}
        if 'session_id' in params:
            path_params['session_id'] = params['session_id']
            session_id=session_id

        query_params = []

        header_params = {}
        if 'idempotency_key' in params:
            header_params['idempotency-key'] = params['idempotency_key']

        form_params = []
        local_var_files = {}

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(['application/hal+json;charset=utf-8'])

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(['application/json;charset=utf-8'])

        body_params = None
        if 'ucp_update_checkout_session_request' in params:
            body_params = params['ucp_update_checkout_session_request']
        
            sdkTracker = SdkTracker()
            body_params = sdkTracker.insert_developer_id_tracker(body_params, 'ucp_update_checkout_session_request', self.api_client.mconfig.run_environment, self.api_client.mconfig.defaultDeveloperId)
            body_params = process_body(body_params)

        inbound_mle_status = "mandatory"
        if MLEUtility.check_is_mle_for_api(self.api_client.mconfig, inbound_mle_status, "ucp_update_checkout_session,ucp_update_checkout_session_with_http_info"):
                body_params = MLEUtility.encrypt_request_payload(self.api_client.mconfig, body_params)
        
        isResponseMLEforApi = MLEUtility.check_is_response_mle_for_api(self.api_client.mconfig, "ucp_update_checkout_session,ucp_update_checkout_session_with_http_info")

        # Authentication setting
        auth_settings = []

        return self.api_client.call_api(f'/icc/v1/checkout-sessions/{session_id}', 'PUT',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='InlineResponse20113',
                                        auth_settings=auth_settings,
                                        callback=params.get('callback'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats,
                                        isResponseMLEforApi=isResponseMLEforApi)
